body {
 display: flex;
    flex-direction: column;
}
header {
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: row;
    flex:auto;
}
main > article {
    flex: 2;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: yellowgreen;
    border: 2px solid whitesmoke;

}
main > aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
footer {
    display: flex;
    flex-direction: column;
}